# Data science tools and ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages of Data Science
- List some libraries used in Data Science 
- List some Data Science tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scale
5. Java
6. Julia
7. php
8. Rubi
9. visual basic 
10. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. SciPy
4. Matplotlib
5. Pytorch
6. Keras
7. Scikit learn

Data Science Tools |
----
Jupyter Notebook |
R Studio |
Watson studio |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [11]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [12]:
200/60

3.3333333333333335

## Author 
Charbel MASRI